<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<h2>Edit Job</h2>

<form method="POST" action="/jobs/update/<%= job.id %>">
    <div>
        <label for="company">Company:</label>
        <input type="text" id="company" name="company" value="<%= job ? job.company : '' %>" required/>
    </div>    
    <div>
        <label for="position">Position:</label>
        <input type="text" id="position" name="position" value="<%= job ? job.position : '' %>" required/>
    </div>
    <div>
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="interview" <%= job && job.status === 'interview' ? 'selected' : '' %>>Interview</option>
            <option value="declined" <%= job && job.declined  === 'declined' ? 'selected' : '' %>>Declined</option>
            <option value="pending" <%= job && job.pending  === 'pending' ? 'selected' : '' %>>Pending</option>
        </select>
    </div>
    <button type="submit">Edit</button>
    <a href="/jobs">
        <button type="button">Cancel</button>
    </a>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

<%- include("partials/footer.ejs") %>