<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<h2>Jobs List</h2>
<a href="/jobs/new">
    <button type="button">Add a job</button>
</a>
<table id="jobs-table">
    <tr id="jobs-table-header">
        <th>Company</th>
        <th>Position</th>
        <th>Status</th>
        <th colspan="2"></th>
    </tr>
    <% if (jobs && jobs.length) { %>
        <% jobs.forEach((job) => { %>
        <tr>
            <td><%= job.company %></td>
            <td><%= job.position %></td>
            <td>
                <input type="dropdown" disabled value="<%= job.status === 'interview' ? 'Interview' : job.status === 'declined' ? 'Declined' : 'Pending' %>">
            </td>
            <td>
                <a href="/jobs/edit/<%= job.id %>">
                    <button type="button">Edit</button>
                </a>
            </td>
            <td>
                <form action="/jobs/delete/<%= job.id %>" method="POST">
                    <button type="submit">Delete</button>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                </form>
            </td>
        </tr>
        <% }) %>
    <% } %>
</table>
<%- include("partials/footer.ejs") %>